@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Righteous&display=swap');

:root{
    --text-main-color: white;
    --text-alternative-color: black;
    --main-font: "Quicksand", sans-serif;
    --title-font: "Righteous", sans-serif;
    --bg-color: #3d0d52;
    --bg-color-alt: #7d188b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-link{
    font-family: var(--main-font);
    font-weight: bold;
}

p{
    color: var(--text-main-color);
    font-family: var(--main-font);
}

h1{
    color: var(--text-main-color);
    font-family: var(--title-font);
    font-size: 3rem;
    text-transform: uppercase;
}
h2, h3{
    color: var(--text-main-color);
    font-family: var(--main-font);
}

body{
    /* background-image: url(/img/pattern.svg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom; */
    max-width: 1400px;
    background-color: var(--bg-color);
    margin: 0 auto;
}

section{
    margin-top: 50px;
}

.sec-odd{
    background-color:var(--bg-color-alt);
}

#img-dev{
    max-height: 300px;
    min-width: 175px;
    filter: drop-shadow(10px 10px 5px #222);
}

.div-skill{
    background-color: #eee;
    padding-top: 25px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 120px;
    min-width: 120px;
    -webkit-box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
    border-radius: 25px 25px 25px 25px;
}

.div-skill p{
    color: var(--text-alternative-color);
    margin-top: 5px;
    font-weight: bold;
}

.div-skill img{
    height: 40px;
}

.card{
    -webkit-box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 25px 1px rgba(0,0,0,0.75);
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}

.card-text{
    color: var(--text-alternative-color);
}